<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal emulator">
    <action name="Execute"><execute>rxvt-unicode -bc</execute></action>
  </item>
  <item label="Chrome (Forbesmyester)">
    <action name="Execute"><execute>google-chrome-stable --profile-directory="Default"</execute></action>
  </item>
  <item label="Chrome (Landtech)">
    <action name="Execute"><execute>google-chrome-stable --profile-directory="Profile 4"</execute></action>
  </item>
  <item label="Chromium">
    <action name="Execute"><execute>chromium-browser</execute></action>
  </item>
  <item label="Firefox">
    <action name="Execute"><execute>firefox</execute></action>
  </item>
  <item label="PCManFM">
    <action name="Execute"><execute>pcmanfm</execute></action>
  </item>
  <item label="Leafpad">
    <action name="Execute"><execute>leafpad</execute></action>
  </item>
  <item label="Libreoffice">
    <action name="Execute"><execute>libreoffice</execute></action>
  </item>
  <item label="Calc">
    <action name="Execute"><execute>xcalc</execute></action>
  </item>
  <item label="Anki">
    <action name="Execute"><execute>anki</execute></action>
  </item>
  <item label="RoboMongo">
    <action name="Execute"><execute>robomongo</execute></action>
  </item>
  <item label="Steam">
    <action name="Execute"><execute>steam</execute></action>
  </item>
  <item label="Arandr">
    <action name="Execute"><execute>arandr</execute></action>
  </item>
  <item label="Scrot">
      <action name="Execute"><execute>scrot -s '/tmp/%F-%T.png'</execute></action>
  </item>
  <item label="Audio Mixer">
    <action name="Execute"><execute>pavucontrol</execute></action>
  </item>
  <!-- This requires the presence of the 'menu' package to work -->
  <menu id="/Debian" />
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <separator />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Lock">
      <action name="Execute"><execute>xscreensaver-command -lock</execute></action>
  </item>
  <item label="Suspend">
      <action name="Execute"><execute>bash -c "xscreensaver-command -lock ; sudo /usr/sbin/pm-suspend"</execute></action>
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
