roles/emulationstation/files/emulationstation/downloaded_images/
roles/emulationstation/files/emulationstation/es_log.txt
roles/emulationstation/files/emulationstation/gamelists/
roles/emulationstation/files/emulationstation/themes/
roles/emulationstation/zsnes/

